header {
    display: flex;
    justify-content: space-evenly;
}
header a {
    margin: auto;
    text-decoration: none;
    padding-left: 20px;
    font-size: 3em;
}
header p {
    padding: 20px 40px;
    color: #fff;
    background-color: gray;
    font-size: 2em;
    border-radius: 10px;
}
.startbtn:hover{
    background-color: magenta;
}
.landing {
    text-align: center;
}
.title {
    font-size: 3em;
}
.intro {
    font-size: 1em;
}
.landing {
    text-align: center;
}
/*end of landing page container css*/

